/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Inconsolata", monospace;
}

.bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: url("../assets/images/background-mobile.png") center center/cover no-repeat;
}
.bg .circle {
  position: absolute;
  top: -40px;
  left: -20px;
  width: 30%;
  aspect-ratio: 1/1;
  background: url("../assets/images/pattern-circle.svg") center/cover;
}
.bg .lines {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url("../assets/images/pattern-lines.svg") center center/cover no-repeat;
}
.bg .squigglyLineTop {
  position: absolute;
  right: 0%;
  width: 40%;
  aspect-ratio: 1/1;
  background: url("../assets/images/pattern-squiggly-line-top.svg") center/contain no-repeat;
}
.bg .circleMiddle {
  position: absolute;
  top: 65%;
  right: -15%;
  width: 30%;
  aspect-ratio: 1/1;
  background: url("../assets/images/pattern-circle.svg") center/cover;
}
.bg .squigglyLineBottom {
  position: absolute;
  bottom: 0%;
  width: 80%;
  aspect-ratio: 1/1;
  background: url("../assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg") bottom/contain no-repeat;
}

@media (min-width: 1440px) {
  .bg {
    background: url("../assets/images/background-desktop.png") center center/cover no-repeat;
  }
  .bg .circle {
    top: -80px !important;
    left: 5% !important;
    width: 15% !important;
  }
  .bg .squigglyLineTop {
    width: 25% !important;
  }
  .bg .circleMiddle {
    top: 50% !important;
    left: 60% !important;
    width: 15% !important;
  }
  .bg .squigglyLineBottom {
    width: 50% !important;
    background: url("../assets/images/pattern-squiggly-line-bottom-desktop.svg") bottom/contain no-repeat !important;
  }
}
.content {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.content .logo {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .logo .logoLink {
  width: 60%;
  height: 50px;
  background: url("../assets/images/logo-full.svg") center/contain no-repeat;
}
.content .title {
  width: 90%;
  margin-left: 5%;
  color: hsl(0, 0%, 100%);
  font-size: 30px;
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
}
.content .text {
  width: 90%;
  margin-left: 5%;
  color: hsla(252, 6%, 83%, 0.7);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.content label {
  width: 90%;
  margin-left: 5%;
  color: hsl(0, 0%, 100%);
  font-size: 20px;
}
.content .avatarInput {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  border: hsla(252, 6%, 83%, 0.7) 1px dashed;
  background: hsla(246, 15%, 58%, 0.2);
}
.content .avatarInput .avatarImg {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid hsla(246, 15%, 58%, 0.3);
  background: hsla(246, 15%, 58%, 0.2) url("../assets/images/icon-upload.svg") no-repeat center/30px;
}
.content .avatarInput .avatarText {
  color: hsla(252, 6%, 83%, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}
.content .avatarInput:hover {
  cursor: default;
  background: hsla(246, 15%, 58%, 0.5);
}
.content .avatarInputError {
  border: hsl(7, 71%, 60%) 1px dashed !important;
}
.content .avatarMsg {
  display: flex;
  gap: 10px;
  margin-left: 5%;
  margin-top: 10px;
  color: hsla(252, 6%, 83%, 0.7);
  font-size: 12px;
  margin-bottom: 30px;
}
.content .avatarMsg .msgImg {
  width: 12px;
  height: 12px;
  background-color: hsla(252, 6%, 83%, 0.7);
  -webkit-mask: url("../assets/images/icon-info.svg") center/cover no-repeat;
  mask: url("../assets/images/icon-info.svg") center/cover no-repeat;
}
.content .textErrorMsg {
  color: hsl(7, 71%, 60%) !important;
}
.content .avatarInputFile {
  display: none;
}
.content .divInput {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
  background: hsla(246, 15%, 58%, 0.2);
  border: 1px solid hsla(252, 6%, 83%, 0.7);
  border-radius: 10px;
  overflow: hidden;
}
.content .divInput input {
  width: 100%;
  height: 50px;
  background: none;
  border: none;
  padding-left: 15px;
  box-sizing: border-box;
  font-size: 16px;
  color: hsla(252, 6%, 83%, 0.7);
}
.content .divInput input:active,
.content .divInput input:focus {
  outline: none;
}
.content .divInput input::placeholder {
  color: hsla(252, 6%, 83%, 0.7);
}
.content .divInput:hover {
  cursor: default;
  background: hsla(246, 15%, 58%, 0.5);
}
.content .divInput:hover input {
  cursor: default;
}
.content .emailMsg {
  display: none;
  gap: 10px;
  margin-left: 5%;
  margin-top: -20px;
  margin-bottom: 30px;
  color: hsla(252, 6%, 83%, 0.7);
  font-size: 12px;
  color: hsl(7, 71%, 60%);
}
.content .emailMsg .msgImg {
  width: 12px;
  height: 12px;
  background-color: hsl(7, 71%, 60%) !important;
  -webkit-mask: url("../assets/images/icon-info.svg") center/cover no-repeat !important;
  mask: url("../assets/images/icon-info.svg") center/cover no-repeat !important;
}
.content .inputError {
  border: 1px solid hsl(7, 71%, 60%);
}
.content .redIcon {
  background-color: hsl(7, 71%, 60%) !important;
  -webkit-mask: url("../assets/images/icon-info.svg") center/cover no-repeat !important;
  mask: url("../assets/images/icon-info.svg") center/cover no-repeat !important;
}
.content .sendBtn {
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  border-radius: 10px;
  background-color: hsl(7, 88%, 67%);
  color: hsl(248, 70%, 10%);
  font-size: 20px;
  font-weight: 800;
}
.content .sendBtn:hover {
  cursor: default;
  background-color: hsl(7, 71%, 60%);
}

@media (min-width: 1000px) {
  .title {
    width: 60% !important;
    margin-left: 20% !important;
    font-size: 50px !important;
  }
  .text {
    width: 33.3333% !important;
    margin-left: 33.333333% !important;
    font-size: 24px !important;
  }
  label {
    margin-left: 33.333333% !important;
    width: 33.3333% !important;
  }
  .avatarInput {
    width: 100% !important;
  }
  .avatarMsg {
    margin-left: 33.333333% !important;
    font-size: 18px !important;
  }
  .avatarMsg .msgImg {
    width: 18px !important;
    height: 18px !important;
  }
  .emailMsg {
    margin-left: 33.333333% !important;
    font-size: 18px !important;
  }
  .emailMsg .msgImg {
    width: 18px !important;
    height: 18px !important;
  }
  .divInput {
    width: 100% !important;
  }
  .sendBtn {
    width: 33.333333% !important;
    margin-left: 33.333333% !important;
  }
}
.result {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 3;
  display: none;
  flex-direction: column;
}
.result .logo {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.result .logo .logoLink {
  width: 60%;
  height: 50px;
  background: url("../assets/images/logo-full.svg") center/contain no-repeat;
}
.result .title {
  width: 90%;
  margin-left: 5%;
  color: hsl(0, 0%, 100%);
  font-size: 30px;
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
}
.result .title .userName {
  background: linear-gradient(90deg, hsl(7, 86%, 67%) 0%, hsl(0, 0%, 100%) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.result .text {
  width: 90%;
  margin-left: 5%;
  color: hsla(252, 6%, 83%, 0.7);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.result .text .userEmail {
  color: hsl(7, 88%, 67%);
}
.result .ticket {
  width: 90%;
  aspect-ratio: 2.14/1;
  margin-left: 5%;
  padding-left: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background: url("../assets/images/pattern-ticket.svg") center/contain no-repeat;
}
.result .ticket .left {
  width: 81%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-left: 10px;
  box-sizing: border-box;
}
.result .ticket .left .titleBox {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.result .ticket .left .titleBox .img {
  width: 40px;
  height: 40px;
  background: url("../assets/images/logo-mark.svg") center/contain no-repeat;
}
.result .ticket .left .titleBox .contentTitle {
  height: 100%;
  max-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.result .ticket .left .titleBox .contentTitle .ticketTitle {
  width: 90%;
  color: hsl(0, 0%, 100%);
  font-size: 25px;
  font-weight: 500;
}
.result .ticket .left .titleBox .contentTitle .ticketText {
  width: 90%;
  color: hsla(252, 6%, 83%, 0.7);
  font-size: 16px;
  font-weight: 400;
}
.result .ticket .left .userBox {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.result .ticket .left .userBox .userAvatar {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background: url("../assets/images/image-avatar.jpg") center/cover no-repeat;
}
.result .ticket .left .userBox .contentTitle {
  height: 100%;
  max-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.result .ticket .left .userBox .contentTitle .ticketTitle {
  color: hsl(0, 0%, 100%);
  font-size: 25px;
  font-weight: 500;
}
.result .ticket .left .userBox .contentTitle .ticketText {
  color: hsla(252, 6%, 83%, 0.7);
  font-size: 16px;
  font-weight: 400;
  display: flex;
}
.result .ticket .left .userBox .contentTitle .ticketText .gitLogo {
  width: 16px;
  height: 16px;
  background: url("../assets/images/icon-github.svg") center/contain no-repeat;
}
.result .ticket .right {
  width: 19%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.result .ticket .right .number {
  color: hsla(252, 6%, 83%, 0.7);
  transform: rotate(90deg);
  font-size: 25px;
}

@media (min-width: 850px) {
  .ticket {
    width: 33.333333% !important;
    margin-left: 33.333333% !important;
  }
  .number {
    font-size: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
